In [1]:
import pandas as pd
import numpy as np

In [2]:
df = {
    'price' : [1000,2000, 3000, 4000, 5000],
    'sqft' : [100,150,200,250,300]
}
df = pd.DataFrame(df)

In [3]:
df

   price  sqft
0   1000   100
1   2000   150
2   3000   200
3   4000   250
4   5000   300

In [5]:
def check_data(df):
    columns = len(df.columns)
    if columns == 2:
        return print("LinearRegression")
    else:
        return print("MultipleLinearRegression")

check_data(df)

LinearRegression